@model FrotaSisWeb.Models.SisModels.SisMarcas

@{    
    Layout = null;
    ViewData["Title"] = "Details";
    ViewBag.Title = "Details";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            Titulo
        </div>
        <div class="modal-body">
            <div class="form-group form-row">
                <div class="col-md-2">
                    <label asp-for="IdMarca" class="control-label">Id</label>
                    <input class="form-control form-control-sm bg-white" type="text" asp-for="IdMarca" readonly />
                </div>
                <div class="col-md-10">
                    <label asp-for="DescMarca" class="control-label">Descrição</label>
                    <input asp-for="DescMarca" class="form-control form-control-sm bg-white" readonly />
                    <span asp-validation-for="DescMarca" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Usacadmat" disabled /> @Html.DisplayNameFor(model => model.Usacadmat)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <div class="checkbox">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Usacadveic" disabled /> @Html.DisplayNameFor(model => model.Usacadveic)
                        </label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="checkbox">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" disabled /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdMarca">Editar</a> |
            <a asp-action="Index" class="btn btn-light">Fechar</a>
        </div>
    </div>
</div>

<!--
    <dt>
        @Html.DisplayNameFor(model => model.DescMarca)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DescMarca)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Usacadmat)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Usacadmat)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Usacadveic)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Usacadveic)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Ativo)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Ativo)
    </dd>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMarca">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

-->
